.header {
  border-bottom: 1px solid #eee;
  background-color: #fff;
 
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.logo {
  font-size: 18px;
  font-weight: 600;
}

.menuBtn {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

/* MENÚ DESPLEGABLE */
.nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-top: 1px solid #eee;
}

.nav a {
  text-decoration: none;
  color: rgb(64, 63, 63);
}

.nav a:hover {
  text-decoration: underline;
  transition: all 0.3s ease;
  color: rgb(254, 157, 204);
}